@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .blob {
    position: absolute;
    z-index: 0;
    width: 250px;
    height: 250px;
  }
  
  
  .blob1 {
    top: 20%;
    left: 20%;
    transform: translate(-60%, -60%);
  }
  
  .blob2 {
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  
  .blob3 {
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  
  .profile-img {
    z-index: 10;
    border-radius: 9999px;
  }

  .custom-color {
    color: #18c4cd; /* warna mirip Bobmaker (abu-biru gelap) */
  }
  
  .nav-link {
    color: #2c3e50;
    font-size: 0.875rem; /* Tailwind: text-sm */
    font-weight: 600;    /* Tailwind: font-semibold */
    text-decoration: none;
    transition: color 0.3s;
  }

  .nav-link:hover {
    color: #1daac3;
  }

  .project-title {
    color: #18c4cd; /**/
  }
  
  